<html>
    <head>
        <link type="text/css" rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div id="app">
          <h1>{{title}}</h1>
          <div>
            <input v-model="newItem" type="text" />
            <button v-on:click="addItem">Add</button>
          </div>
          <div v-for="item in items">
            <input type="checkbox" v-model="item.checked" @change="checkboxToggle(item)"/>
            <span v-bind:class="{ 'cross-off': item.checked }">
              {{item.name}}
            </span>
          </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="script.js"></script>
    </body>
</html>